<div class="ui cards">
  {{#each model.repositories as |repo|}}
    <div class="ui card">
      <div class="content">
        <div class="header">{{repo.name}}</div>
        <div class="meta">
          <a href={{repo.homepage}}>{{repo.homepage}}</a>
        </div>
        <div class="description">
          <p>{{repo.description}}</p>
        </div>
      </div>

      <div class="content" style="border: 0 !important; display: flex; align-items: flex-end">
        <span style='margin-right: 10px'>
          <i class="ui red empty circular label"></i> {{repo.language}}
        </span>
        <span style='margin-right: 10px'>
          <i class="star icon"></i> {{repo.stargazersCount}}
        </span>
      </div>
    </div>
  {{/each}}
</div>
