<div class="ui fixed menu borderless icon">
  <div class="ui container">
    {{#link-to "index" class="item"}}
      <i class="github icon big"></i>
    {{/link-to}}

    <div class="right menu">
        {{#if session.isAuthenticated}}
          {{#link-to "user" "#" class="item"}}
            <img class="ui avatar circular image" src={{model.avatarUrl}} />
            {{model.name}}
          {{/link-to}}

          <div class="item">
            <div {{action 'logout'}} class="ui button">Sign Out</div>
          </div>
        {{else}}
          <div class="item">
            <div {{action 'login'}} class="ui primary button">Log-in</div>
          </div>
        {{/if}}
    </div>
  </div>
</div>

<div class="ui main container">
  {{outlet}}
</div>

